{% load static %}
<section id="reviews">
    <div class="container">
        <div class="reviews pb100">
            <div class="reviews__slider_arrows fic">
                <div class="title">Отзывы</div>
                <div class="slider__arrows fic">
                    <div class="slider__arrows_arrow leftArrow"><i class="arrowRight"></i></div>
                    <div class="slider__arrows_arrow rightArrow"><i class="arrowLleft"></i></div>
                </div>
            </div>
            <div class="row reviewsSlider">
                <div class="col-md-3">
                    <div class="cardBlock reviews__block">
                        <div class="reviews__top fic">
                            <img src="{% static 'img/avatar1.svg' %}" alt="avatar" class="reviews__top_avatar">
                            <div class="reviews__top_info">
                                <div class="reviews__top_name">Анна</div>
                                <img src="{% static 'img/rating.svg' %}" alt="rating" class="reviews__top_rating">
                            </div>
                        </div>
                        <p class="reviews__text">
                            Очень уютный салон, доброжелательный персонал. Делала ламинирование, результат супер!
                            Обязательно приду ещё.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="cardBlock reviews__block">
                        <div class="reviews__top fic">
                            <img src="{% static 'img/avatar2.svg' %}" alt="avatar" class="reviews__top_avatar">
                            <div class="reviews__top_info">
                                <div class="reviews__top_name">Мария</div>
                                <img src="{% static 'img/rating.svg' %}" alt="rating" class="reviews__top_rating">
                            </div>
                        </div>
                        <p class="reviews__text">
                            Прекрасное обслуживание и качественные материалы. Мастер всё объяснила и сделала быстро.
                            Рекомендую!
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="cardBlock reviews__block">
                        <div class="reviews__top fic">
                            <img src="{% static 'img/avatar3.svg' %}" alt="avatar" class="reviews__top_avatar">
                            <div class="reviews__top_info">
                                <div class="reviews__top_name">Ольга</div>
                                <img src="{% static 'img/rating.svg' %}" alt="rating" class="reviews__top_rating">
                            </div>
                        </div>
                        <p class="reviews__text">
                            Делала наращивание ресниц — получилось именно то, что хотела. Спасибо мастеру Виктории!
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="cardBlock reviews__block">
                        <div class="reviews__top fic">
                            <img src="{% static 'img/avatar4.svg' %}" alt="avatar" class="reviews__top_avatar">
                            <div class="reviews__top_info">
                                <div class="reviews__top_name">Елена</div>
                                <img src="{% static 'img/rating.svg' %}" alt="rating" class="reviews__top_rating">
                            </div>
                        </div>
                        <p class="reviews__text">
                            Всегда хожу только сюда — аккуратно, чисто, красиво и по отличной цене!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>