{% extends "index.html" %}

{% block content %}
<div style="padding: 20px; max-width: 400px; margin: auto;">
  <h2>Личный кабинет</h2>
  <form method="post">
    {% csrf_token %}
    <div class="profile__group">
        <label class="profile__label">Имя:</label>
        <input type="text" name="name" value="{{ client.name }}" required class="profile__input">
    </div>
    <div class="profile__group">
        <label class="profile__label">Дата рождения:</label>
        <input type="date" name="birthday" value="{{ client.birthday|date:'Y-m-d' }}" class="profile__input">
    </div>

    <div class="profile__group">
        <label class="profile__label">Пол:</label>
        <select name="gender" class="profile__input">
          <option value="">Не выбрано</option>
          <option value="male" {% if client.gender == "male" %}selected{% endif %}>Мужской</option>
          <option value="female" {% if client.gender == "female" %}selected{% endif %}>Женский</option>
        </select>
    </div>

    <div class="profile__btns fic">
        <button type="submit" class="profile__btn">Сохранить</button>
        <a href="{% url 'logout' %}" class="profile__btn profile__btn_exit">Выйти</a>
    </div>
  </form>
</div>
{% endblock %}
