{% extends "base.html" %}
{% load static %}
{% block title %}Beauty City{% endblock %}

{% block content %}
<section id="serviceFinally">
	<div class="container">
		<div class="serviceFinally">
			<div class="row">
				<div class="col-md-6 col-lg-6">
					<div class="breadCrumbs">
						<a href="/" class="breadCrumbs__item">На главную</a>
					</div>
					<div class="service__block">
						<h1 class="service__title">Запись на услугу</h1>
					</div>
					<form method="post" class="serviceFinally__form">
						{% csrf_token %}
						<div class="serviceFinally__form_block">
							<div class="serviceFinally__form_header fic">
								<span class="serviceFinally__form_header__number">
									{% if appointment %}Запись №{{ appointment.id }}{% else %}Предзапись{% endif %}
								</span>
								<div class="serviceFinally__form_header__item fic">
									<div class="serviceFinally__form_header__service">
										{% if appointment %}
										{{ appointment.salon.name }}
										{% elif salon %}
										{{ salon.name }}
										{% endif %}
									</div>
									<div class="serviceFinally__form_header__address">
										{% if appointment %}
										{{ appointment.salon.address }}
										{% elif salon %}
										{{ salon.address }}
										{% endif %}
									</div>
								</div>
							</div>
							<div class="serviceFinally__form_content">
								<div class="serviceFinally__form_content__block fic">
									<div class="serviceFinally__form_content__title">
										{% if appointment %}
										{{ appointment.service.name }}
										{% elif service %}
										{{ service.name }}
										{% endif %}
									</div>
									<div class="serviceFinally__form_content__price">
										{% if appointment %}
										{{ appointment.service.base_price|floatformat:0 }}
										{% elif service %}
										{{ service.base_price|floatformat:0 }}
										{% endif %} ₽
									</div>
								</div>
								<div class="serviceFinally__form_content__block fic">
									<div class="serviceFinally__form_content__items fic">
										{% if appointment %}
										{% if appointment.specialist.photo %}
										<img src="{{ appointment.specialist.photo.url }}" alt="avatar"
											class="accordion__block_img">
										{% endif %}
										<div class="accordion__block_master">{{ appointment.specialist.name }}</div>
										{% elif specialist %}
										{% if specialist.photo %}
										<img src="{{ specialist.photo.url }}" alt="avatar" class="accordion__block_img">
										{% endif %}
										<div class="accordion__block_master">{{ specialist.name }}</div>
										{% endif %}
									</div>
									<div class="serviceFinally__form_content__item fic">
										<div class="serviceFinally__form_content__time">
											{% if appointment %}
											{{ appointment.date_time_start|time:"H:i" }}
											{% elif slot %}
											{{ slot.time|time:"H:i" }}
											{% endif %}
										</div>
										<div class="serviceFinally__form_content__date">
											{% if appointment %}
											{{ appointment.date_time_start|date:"j E" }}
											{% elif slot %}
											{{ slot.date|date:"j E" }}
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>

						{% if not appointment %}
						<div class="serviceFinally__form_itesm">
							{% if error %}
							<p style="color: red;">{{ error }}</p>
							{% endif %}
							<div class="contacts__form_block fic">
								<input type="text" name="fname" class="contacts__form_iunput"
                                       value="{{ name }}" placeholder="Введите имя" required="">
								<div class="contacts__form_inputBlock">
									<input type="text" name="tel" class="contacts__form_iunput"
										value="{{ phone }}" placeholder="+7(999)999--99-99" required="">
								</div>
							</div>
							<textarea name="contactsTextarea" class="contacts__form_textarea"
								placeholder="Вопрос (необязательно)">{{ question }}</textarea>
							<div class="contacts__form_checkboxBlock fic">
								<input type="checkbox" class="contacts__form_checkbox" checked="">
								<span class="contacts__form_checkboxBlock__intro">Я согласен(а) с политикой
									конфиденциальности</span>
							</div>
							<button type="submit" class="serviceFinallys__form_btn">Записаться</button>
							<a href="/" class="serviceFinallys__form_back">На главную</a>
						</div>
						{% endif %}
					</form>
				</div>
				<div class="col-md-12 col-lg-5">
					<img src="{% static 'img/bannerImg.svg' %}" alt="bannerImg" class="banner__img">
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block popups %}
{{ block.super }}
{% endblock %}